<html>
<body>
<form action="{% url 'saveupdate' %}" method="post">
    {% csrf_token %}
<table align="center" border="2">

    <tr><td>ACC NO:<input type="number" value="{{ data.accno  }}"  required name="u_accno"></td></tr>
    <tr><td>NAME:<input type="text" value="{{ data.name }} " required name="u_name"></td></tr>
    <tr><td>SALARY:<input type="number" value="{{ data.salary }}" required name="u_salary"></td></tr>
    <tr><td><button type="submit">UPDATE</button> </td></tr>
</table>

</form>
</body>
</html>